body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #222;
    overflow-x: hidden;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}


.chr {
    min-height: 4px;
    border: #ff4745 3px solid;
    border-radius: 5px;
}


button.btn-minebox {
    color: white;
    background-color: #444 !important;
    min-width: 100%;
    text-decoration: none !important;
    border: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

button.btn-minebox:hover,
button.active {
    color: white;
    background-color: #ff4745 !important;
    min-width: 100%;
    text-decoration: none !important;
    border: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}